.mensagem, .dados-pessoais, .assunto{
	padding-bottom: 5%;
}
.legenda-dados-pessoais, .legenda-assunto, .mensagem label{
	font-weight: bold;
}
.outro, .blog, .servico{
	display: inline;
	padding: 0.5%;
}
.outro label{
	display: inline;
}
input[name="outro-assunto"]{
	display: none;
}
.area-texto{
	width: 100%;
}
#nome, #email, .area-texto, input[name="outro-assunto"]{
	border: 2px solid lightgray;
	padding: 0.7%;
	font-family: "Crimson Text", "Times New Roman", serif;
	font-size: 90%;
}
:focus{
	background-color: lightyellow;
}
.submit{
	float: right;
	background-color: #3C1D3D;
    color: #F2FFFC;
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    font-size: 105%;
    padding: 1%;
    border: none;
}
.submit:hover, .submit:focus{
	background-color: #8C1D3D;
}
input[value="outro"]:checked ~ input{
	display: inline;
}
label[for="nome"]{
	position: relative;
}
label[for="nome"]::after{
	content: "";
	width: 2em;
	height: 2em;
	background-color: #8C1D3D;
	position: absolute;
	top: 107%;
	left: 0;
	background-size: 1em 1em;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../imagens/usuario.png);
}
input[name="nome"]{
	width: calc(100% - 2em);
	position: relative;
	left: 2em;
	box-sizing: border-box;
}
label[for="email"]{
	position: relative;
}
label[for="email"]::after{
	content: "";
	width: 2em;
	height: 2em;
	background-color: #8C1D3D;
	position: absolute;
	top: 107%;;
	left: 0;
	background-size: 1em 1em;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../imagens/email.png);
}
input[name="e-mail"]{
	width: calc(100% - 2em);
	position: relative;
	left: 2em;
	box-sizing: border-box;
}